@import '../../style/mixins.scss';
@import '../../style/palette.scss';

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include card;

  background-color: white;

  &__image {
    height: 200px;
    width: 200px;
  }

  &__info-list {
    list-style: none;
  }
}
