@import '../../style/mixins.scss';
@import '../../style/palette.scss';

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include card;
}
