@import '../../style/palette.scss';
@import '../../style/mixins.scss';

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px $background-color-darker;
  @include box-shadow;

  &__photo {
    height: 200px;
    width: 200px;
  }

  &__info-list {
    list-style: none;
  }
}
