@import '../../style/palette.scss';
@import '../../style/mixins.scss';

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include card; // box-shadow, border-radius

  &__image {
    height: 200px;
    width: 200px;
  }

  &__info-list {
    list-style: none;
  }
}
