@import '../../style/palette.scss';

$inset-text-shadow: 0px -1px 0px #111;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;

  background-color: $background-color-pale;
}


// an example of BEM class naming

.home {
  margin: 20px;
  background-color: $background-color-darker;
  border: 1px solid $border-and-text;

  &__heading {
    color: $border-and-text;
  }

  &__section {
    background-color: $background-color-pale;
    font-size: 30px;
    text-shadow: $inset-text-shadow;
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    height: 25vh;
  }

  &__slogan {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }

  &__categorydiv {
    position: relative;
    height: 100vh;
    width: 25%;
    display: inline-block;
  }

  &__members {
    background-color: $background-color-pale;
  }
}

