@import '../../style/palette.scss';

$inset-text-shadow: 0px -1px 0px #111;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $background-color-pale;
}


// an example of BEM class naming

.home {
  margin: 20px;
  background-color: $background-color-darker;
  padding: 10px 15px;

  &__heading {
    color: $border-and-text;
  }

  &__needhave-grid {
    position: relative;
    font-size: 10px;
    //  height: 100vh;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". .";

  }



  &__category-grid {
    position: relative;
    font-size: 10px;
    //  height: 100vh;
    width: 25%;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". .";

  }

  &__pod-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". .";

  }

}