@mixin box-shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

@mixin card {
  border-radius: 10px;
  @include box-shadow;
  color: $border-and-text;
  background-color: white;
  cursor: pointer;

  h2 {
    text-transform: capitalize;
  }
}
