// borders, text
$border-and-text: #3c1642;

// page backgrounds
// Aero Blue
$background-color-pale: #d3f6db;

// component backgrounds
// Middle Blue
$background-color-darker: #92d5e6;

// buttons and navbar
// Light Green
$base-color-1: #a1ef8b;
// Spanish Blue
$base-color-2: #2374ab;
