@import '../style/palette.scss';
@import '../style/mixins.scss';

#search {
  background-color:$background-color-pale;
  width: 100vw;
  height: 100vh;  
}

#search-form {
  margin-top: 50px;
  &.centered {
    position: fixed;
    left: 50%;
    margin-left: -100px;
  }

  p {
    text-align: center;
  }

  select {
    border-style: solid;
    height: 2rem;
    border-radius: 5px;;
  }

  input {
    border-style: solid;
    height: 1.5rem;
    width: 95%;
    border-radius: 5px;
  }

  .input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .search-button {
    background-color: $base-color-2;
    width: 100%;
    border-style: none;
    margin-top: 1rem;
    color: $background-color-pale;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: $background-color-darker;
      color: $base-color-2;
    }
  }
}

.no-margin-top {
  margin-top: 0;
}