@import '../../style/palette.scss';

.pod-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $background-color-pale;

  // an example of BEM class naming

  &__body {
    margin: 20px;
    background-color: $background-color-darker;
    background-color: white;
  }

  &__heading {
    color: $border-and-text;
  }

  &__items {
    background-color: $background-color-pale;
    padding: 10px 15px;
  }

  &__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
  }

  &__members {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: $background-color-pale;
  }

  &__member-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    padding: 10px;
  }
}

.button-panel {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
