@import '../../style/palette.scss';
@import '../../style/mixins.scss';

.pod-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // an example of BEM class naming

  &__body {
    margin: 20px;
  }

  &__hero {
    height: 250px;
    border-radius: 10px;
    @include box-shadow;
    background: url('https://www.railstotrails.org/media/983569/oregons-banks-vernonia-state-trail-photo-by-traillink-user-dabiker-820x312.jpg')
      bottom center no-repeat;
    background-size: cover;
    padding: 10px 15px;
  }

  &__heading {
    color: $border-and-text;
  }

  &__items {
    padding: 20px;
  }

  &__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
  }

  &__members {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__member-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    padding: 20px;
  }
}

.button-panel {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
