body {
  margin: 0;
  padding: 0;

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 400;

  h2 {
    font-weight: bold;
  }
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  display: inline;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  float: left;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}