body {
  margin: 0;
  padding: 0;

  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 400;

  h2 {
    font-weight: bold;
  }
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
