@import '../../style/palette.scss';
@import '../../style/mixins.scss';

// an example of BEM class naming

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__body {
    margin: 20px;
  }

  &__hero {
    background-color: $background-color-pale;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
  }

  &__heading {
    color: $border-and-text;
  }

  &__items {
    padding: 20px;
  }

  &__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
  }

  &__pod-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    text-align: center;
    padding: 20px;
  }

  &__userpic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: $border-and-text;
  }

  li {
    list-style: none;
  }
}
